# Build context exclusions
.git
.gitignore
.vscode
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
*.log
.env
.env.*
.venv
runs/
logs/
database/
*.ipynb
mediamtx_v1.15.4/*.log
mediamtx_v1.15.5_linux_amd64/
client/
integration_tests/
scripts/
test/
tests/
